@import url(../import.css);

nav .link-nav-cardapio li{
    color: var(--amarelo);
}

/* ----- PARTE DE CIMA DO MENU DE CARDÁPIOS ----- */

#total-menu-comida{
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.box-comida-top{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.top-size-left{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
.top-size-left h2{
    color: var(--amarelo);
    font-size: 50px;
    font-family: var(--poppins);
    font-weight: 600;
}

.box-buttons-types{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-buttons-types button.active {
    border-bottom: 2px solid var(--amarelo);
}

.box-buttons-types button{
    padding: 14px 30px;
    /* border: none; */
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    color: var(--branco);
    font-family: var(--montserrat);
    font-size: 20px;
    margin: 0 30px;
}
.box-buttons-types button:hover{
    color: var(--amarelo);
}


/* ----- PARTE DE BAIXO ----- */
.box-comida-bottom{
    width: 100%;
    display: flex;
    flex-direction: r;
}

/* ----- IMAGEM ----- */
.box-comida-img{
    width: 40%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box-comida-img img{
    border-radius: 5px;
}

/* ----- PRODUTOS E DESCRIÇÃO ----- */

.box-desc-comidas{
    height: 90vh;
    width: 60%;
    display: flex;
    padding: 50px 50px 50px 0;
    flex-direction: column;
}
.box-options{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 13px 0;
}
.top-opitions{
    display: flex;
    flex-direction: row;
    border-bottom: var(--amarelo) solid 2px;
    padding: 0 12px;
}
.box-options h3{
    font-size: var(--poppins);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 25px;
    width: 90%;
}

.box-options h4{
    font-size: var(--poppins);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 25px;
    width: fit-content;
}

.box-options span{
    margin-right: 7px;
    color: var(--amarelo);
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 25px;

}
.box-options p{
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 17px;
    padding: 12px;
}
#box-oppition-01{
    display: flex;
}

.hidden{
    display: none;
}
