@import url(../import.css);

body{
    background-color: var(--fundo);
}


/* ------------- ALGUNS PRODUTOS ------------- */
#alguns-produtos{
    color: var(--branco);
    font-family: var(--poppins);
    text-align: center;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
#alguns-produtos h2{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 300;
    /* margin-bottom: 50px; */
}
#alguns-produtos img{
    margin: 30px 20px;
    border-radius: 4px;
}

#produtos{
    display: flex;
    float: left;
}
.box-img-prod{
    position: relative;
    display: inline-block;
  }

.box-prod-hover{
    position: absolute;
    top:0;
    left: 0;
    width: 300px;
    height: 290px;
    background-color: #fda50357;
    opacity: 0;
    margin: 30px 20px;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.box-prod-hover p{
    text-transform: uppercase;
    font-family: var(--poppins);
    color:black;
    font-weight: 600;
    font-size: 30px;
}
.box-img-prod:hover .box-prod-hover {
    opacity: 1;
    visibility: visible;
}